.button {
  .fa { margin-right: 0.25em; }
  background: none;
  font-weight: bold;
  color: $edo-gray-dark;
  text-decoration: none;
  padding: 0.5em 2em;
  display: inline-block;
  border-radius: 2em;
  border: 3px solid $edo-gray-light;

  &:hover {
    background-color: $edo-gray-light;
  }

  &:focus, &:active {
   outline: 0;
   outline: thin dotted \9; /* IE6-9 */
   border-color: $edo-gray;
  }
}
