.logo {
  margin-bottom: 4em;
  text-align: center;
  text-decoration: none;
  display: block;
}

.logo__inner {
  font-family: $logo-font-family;
  font-size: 2em;
  display: inline-block;
  border-radius: 50%;
  width: 2.75em;
  height: 2.75em;
  line-height: 2.75em;
  border: 1px solid $edo-gray-dark;
  text-decoration: none;

  &:hover {
    background-color: $edo-gray-light;
  }
}
