.textblock {
  a {
    &:hover {
      background-color: $edo-gray-light;
    }
  }
  p, ul, ol, blockquote {
    margin: 0 0 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    padding-left: 1.5em;
  }

  ul {
    list-style-type: circle;
  }

  blockquote {
    padding-left: 1em;
    border-left: 5px solid $edo-gray-light;
  }

  hr {
    border: none;
    border-bottom: 1px solid $edo-gray;
    margin: 0 0 1.5em;
  }

  h2, h3 {
    &:first-child {
      margin-top: 0;
    }
    font-size: 1em;
    margin: 3em 0 1.5em;
  }

  .footnotes {
    margin-top: 3em;
  }

  .footnote-ref {
    font-size: 0.85em;
    a {
      padding: 0 0.5em;
      margin: 0 -0.5em;
    }
  }

  .footnote-return {
    &:after {
      top: -.5em;
      font-size: 0.85em;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
      content: '(戻る)';
    }
    sup {
      display: none;
    }
  }
}

.textblock__box {
  border-radius: 4px;
  margin-top: 4.5em;
  padding: 1em 1.25em;
  border: 1px solid $edo-gray;
}
