.textblock {
  a {
    &:hover {
      background-color: $edo-gray-light;
    }
  }
  p, ul, ol, blockquote {
    margin: 0 0 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    padding-left: 1.5em;
  }

  ul {
    list-style-type: circle;
  }

  blockquote {
    padding-left: 1em;
    border-left: 0.5em solid $edo-gray-light;
  }

  hr {
    border: 2px dashed $edo-gray-light;
    margin: 0 0 1em;
    text-align: center;
    letter-spacing: 0.25em;
    font-size: $golden-ratio * 1em;
    color: $edo-gray;
    &:before {
      content: '✄';
      position: relative;
      top: -0.9em;
      background: $edo-gray-lightest;
      padding: 5px 2px 5px 10px;
      margin: -5px;
    }
  }

  h2, h3 {
    &:first-child {
      margin-top: 0;
    }
    font-size: 1em;
    margin: 3em 0 0.75em;
    border-bottom: 0.5em solid $edo-gray-light;
    padding-bottom: 0.5em;
  }

  .footnotes {
    margin-top: 4.5em;
  }

  .footnote-ref {
    font-size: 0.85em;
    a {
      padding: 0 0.5em;
      margin: 0 -0.5em;
    }
  }

  .footnote-return {
    text-decoration: none;
    &:hover {
      background: none;
      text-decoration: underline;
    }

    &:after {
      top: -.25em;
      margin-left: -.5em;
      font-size: 1.25em;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
      color: $edo-gray;
      content: '∞';
    }
    sup {
      display: none;
    }
  }
}

.textblock__box {
  border-radius: 4px;
  margin-top: 4.5em;
  padding: 1em 1.25em;
  border: 1px solid $edo-gray;
}
