{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="main">
  <h1 class="main__title">
    {{ .Params.number }}. {{ .Title }}
  </h1>
  <div class="main__metadata">
    {{ .Date.Format "2006/01/02" }} &middot; {{ .Site.Params.author }}
  </div>
  <div class="textblock">
    <div class="textblock__content">
      {{ .Content }}
    </div>
    <div class="textblock__share">
      <a href="https://twitter.com/intent/tweet?via=edojpn&text={{ .Title | urlquery }}&url={{ .Permalink | urlquery }}" class="textblock__share-button"><i class="fa fa-twitter fa-lg"></i> ツイート</a>
    </div>
    <div class="textblock__box">
      {{ range .Site.Pages }}
        {{ if eq .RelPermalink "/home/basic/" }}{{ .Content}}{{ end }}
      {{ end }}
      <p>
        <a href="/">トップページへ</a>
      </p>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
