{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="main">
  <h1 class="main__title">
    {{ .Params.number }}. {{ .Title }}
  </h1>
  <div class="main__metadata">
    {{ .Date.Format "2006/01/02" }} &middot; {{ .Site.Params.author }}
  </div>
  <div class="textblock">
    <div class="textblock__content">
      {{ .Content }}
    </div>
    <div class="textblock__share">
      <a href="https://twitter.com/intent/tweet?via=edojpn&text={{ .Title | urlquery }}&url={{ .Permalink | urlquery }}" class="textblock__share-button"><i class="fa fa-twitter fa-lg"></i> ツイート</a>
      <a href="https://www.facebook.com/dialog/share?app_id=846000568795546&display=popup&href={{ .Permalink | urlquery}}&redirect_uri={{ .Permalink | urlquery}}" class="textblock__share-button"><i class="fa fa-facebook fa-lg"></i> シェア</a>
    </div>
    <div class="textblock__box">
      {{ range .Site.Pages }}
        {{ if eq .RelPermalink "/home/basic/" }}{{ .Content}}{{ end }}
      {{ end }}
      <p>
        <a href="/">トップページへ</a>
      </p>
    </div>
    <div class="textblock__box">
      <h2>コメントはこちらへ</h2>
      <div class="space-sm">
        <p>
          コメントするには、Twitter・Facebook・Google・Disqusのいずれかでサインインしてください。
        </p>
      </div>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'edojpn'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
