{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="main">
  <h1 class="main__title">
    {{ .Params.number }}. {{ .Title }}
  </h1>
  <div class="main__metadata">
    {{ .Date.Format "2006/01/02" }} &middot; {{ .Site.Params.author }}
  </div>

</div>
  <div class="textblock">
    {{ if .Params.header_box }}
      <div class="textblock__box">
        {{ partial .Params.header_box . }}
      </div>
    {{ end }}
    <div class="textblock__content">
      {{ .Content }}
    </div>
    <div class="textblock__share">
      <a href="https://twitter.com/intent/tweet?via=edojpn&text={{ .Title | urlquery }}&url={{ .Permalink | urlquery }}" class="button"><i class="fa fa-twitter fa-lg"></i> ツイート</a>
      <a href="https://www.facebook.com/dialog/share?app_id=846000568795546&display=popup&href={{ .Permalink | urlquery}}&redirect_uri={{ .Permalink | urlquery}}" class="button"><i class="fa fa-facebook fa-lg"></i> シェア</a>
    </div>
    {{ if .Params.tweet_id }}
    <div class="space--sm">
      <blockquote class="twitter-tweet" lang="en"><a href="https://twitter.com/edojpn/status/{{ .Params.tweet_id }}"></a></blockquote>
    </div>
    {{ end }}
    {{ if .Params.footer_box }}
      <div class="textblock__box">
        {{ partial .Params.footer_box . }}
      </div>
    {{ end }}
    <div class="textblock__box">
      {{ range .Site.Pages }}
        {{ if eq .RelPermalink "/home/basic/" }}{{ .Content}}{{ end }}
      {{ end }}
      <p>
        <a href="/">トップページへ</a>
      </p>
    </div>
    <div class="textblock__box">
      {{ range .Site.Pages }}
        {{ if eq .RelPermalink "/home/mailchimp/" }}{{ .Content}}{{ end }}
      {{ end }}
    </div>
    <div class="textblock__box">
      <h2>コメントはこちらへ</h2>
      <div class="space--sm">
        <p>
          コメントするには、Twitter・Facebook・Google・Disqusのいずれかでサインインしてください。
        </p>
      </div>
      <div id="disqus_thread"></div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
