html {
  font-family: $base-font-family;
  background-color: $inuit-base-background-color;
  color: $inuit-base-text-color;
}

a {
  color: inherit;
  text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
   padding: 0.25em 0.5em;
   display: inline-block;
   font-weight: bold;
   color: $edo-gray-darkest;
   border: 3px solid $edo-gray-light;
   border-radius: 4px;
   font-size: 0.85em;
   width: 100%;

   &:hover, &:focus {
     border-color: $edo-gray;
   }

   &:focus {
     outline: 0;
     outline: thin dotted \9; /* IE6-9 */
   }
}

label {
  display: inline-block;
  margin: 0 0 0.25em;
}
