$inuit-base-font-size: 15px;
$inuit-base-line-height: 27px;

$inuit-base-background-color: $edo-gray-lightest;
$inuit-base-text-color: $edo-gray-darkest;

$base-font-family: "游ゴシック", YuGothic, Avenir, 'Helvetica Neue', Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$logo-font-family: 'Megrim', $base-font-family;

$golden-ratio: 1.61803398875;
