<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if eq .Section "post" }}{{ .Title }} &middot; edo{{ else }}edo &middot; {{ .Site.Params.description }}{{ end }}</title>
    <link rel="shortcut icon" href="/og-images/favicon.ico">
    <link rel="stylesheet" href="/styles/edo.css">
    <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Megrim'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" href="/index.xml" />

    <meta property="og:image" content="http://edo.chibicode.com/og-images/logo.png" />
    <meta property="og:title" content="{{ if eq .Section "post" }}{{ .Title }}{{ else }}edo{{ end }}" />
    <meta property="og:description" content="{{ if eq .Section "post" }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
  </head>
