<h2>「葛藤続きの教育十字軍」シリーズについて</h2>
<p>これはダイアン・ラヴィッチ著「<a href="http://www.amazon.co.jp/教育による社会的正義の実現―アメリカの挑戦-1945‐1980-ダイアン-ラヴィッチ/dp/4798900486?tag=chibicode-22">教育による社会的正義の実現 — アメリカの挑戦 (1945‐1980)</a>」の要約記事シリーズです。シリーズその1から読み進めることをお勧めします。</p>
<ol>
  {{ $page_link := .RelPermalink }}
  {{ range .Site.Pages.ByDate }}
    {{ if (eq .Params.series "troubled-crusade") }}
      {{ if (ne .RelPermalink $page_link) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title}}</a></li>
      {{ else }}
        <li>(このページの記事) <span class="text--muted">{{ .Title}}</span></li>
      {{ end }}
    {{ end }}
  {{ end }}
</ol>
