{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="main">
  <h1 class="main__title main__title--no-metadata">
    edoへようこそ
  </h1>
  <div class="textblock">
    {{ range .Data.Pages }}
      {{ if eq .RelPermalink "/home/basic/" }}{{ .Content}}{{ end }}
    {{ end }}
    <h2>記事リスト</h2>
    <ul class="post-list">
      {{ range where .Data.Pages "Section" "post" }}
        <li>
          <a href="{{ .Permalink }}" class="post-list__item">
            <span class="post-list__title">{{ .Params.number }}. {{ .Title }}</span> &middot;
            <span class="post-list__date">{{ .Date.Format "2006/01/02" }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ partial "footer.html" . }}
